<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de...</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="../index.html"><img src="../assets/img/logo-menu.png" alt="Logo Ezequiel"></a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./acercaDe.html">Acerca de</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div class="historia">
            <div class="main">
                <h1>Nuestras Fábricas</h1>
                <p>Hemos cuidadosamente planificado la creación de nuestros productos desde su concepción hasta el momento en que son disfrutados, con el objetivo de complacer incluso a los gustos más refinados. Valoramos y mantenemos nuestra rica tradición culinaria en cada paso del proceso.</p>
            </div>
    </div>
</body>
</html>