<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="../assets/img/logo-menu.png" alt="Logo Ezequiel">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./acercaDe.html">Acerca de</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>